<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lifewithoutandy.com/wp-content/uploads/2015/02/Drake-2.jpg);">
  <div class="container">
    <h1>Rent <strong>the artist</strong> you need for <strong>your event</strong>!</h1>
    <p>Dynamise the way you book artists</p>
    <%= link_to "See our artists", artists_path, class: "btn btn-info" %>
  </div>
</div>
<h2 class="artist-text-center">How it works</h2>
<div class="parallax">
  <div class="container">
        <div class="home-cards">
          <div class="home-card">
            <h4>Checkout</h4>
            <p>All the artists depending on style, price & availibility</p>
          </div>
          <div class="home-card">
            <h4>Choose</h4>
            <p>Once you find the perfect one</p>
          </div>
          <div class="home-card">
            <h4>Request</h4>
            <p>And wait for him to accept the deal</p>
          </div>
        </div>
  </div>
</div>

