<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hypemagazine.co.za/wp-content/uploads/2017/12/hypebeast-live-travis-scott-pusha-t-las-vegas-9.jpg);">
  <div class="container">
    <h1>Rent <strong>the artist</strong> you need for <strong>your event</strong>!</h1>
    <p>Dynamise the way you book artist</p>
    <a class="btn btn-info" href="#">See our artists</a>
  </div>
</div>
<h2 class="text-center">How it works</h2>
<div class="parallax">
  <div class="container">
        <div class="home-cards">
          <div class="home-card">
            <img class="logo" src="https://image.noelshack.com/fichiers/2019/22/3/1559122023-people.png">
            <h4>Checkout</h4>
            <p>All the artists depending on style, price & availibility</p>
          </div>
          <div class="home-card">
            <img class="logo" src="https://image.noelshack.com/fichiers/2019/22/3/1559122023-artist.png">
            <h4>Choose</h4>
            <p>Once you find the perfect one</p>
          </div>
          <div class="home-card">
            <img class="logo" src="https://image.noelshack.com/fichiers/2019/22/3/1559122023-mail.png">
            <h4>Request</h4>
            <p>And wait for him to accept the deal</p>
          </div>
        </div>
  </div>
</div>
    <div class="footer">
      <div class="links">
        <a href="#">
          <i class="fab fa-fw fa-facebook-f">
          </i>
        </a>
        <a href="#">
          <i class="fab fa-fw fa-github">
          </i>
        </a>
        <a href="#">
          <i class="fab fa-fw fa-twitter">
          </i>
        </a>
        <a href="#">
          <i class="fab fa-fw fa-instagram">
          </i>
        </a>
        <p>
          This site was coded by Dynastore Team
        </p>
      </div>
    </div>
