<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lifewithoutandy.com/wp-content/uploads/2015/02/Drake-2.jpg);">
  <div class="container">
    <h1>Rent <strong>the artist</strong> you need for <strong>your event</strong>!</h1>
    <p>Dynamise the way you book artists</p>
    <%= link_to "See our artists", artists_path, class: "btn btn-info" %>
  </div>
</div>
<h2 class="artist-text-center">Comment ça marche</h2>
<div class="parallax">
  <div class="container">
        <div class="home-cards">
          <div class="home-card">
            <h4>Checkout</h4>
            <p>Nos artistes en fonction du style, de la date et du prix</p>
          </div>
          <div class="home-card">
            <h4>Choisis</h4>
            <p>Celui qui te convient</p>
          </div>
          <div class="home-card">
            <h4>Reserve</h4>
            <p>Son manager reviendra vers toi</p>
          </div>
        </div>
  </div>
</div>
<h2 class="artist-text-center">News</h2>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://digboston.com/wp-content/uploads/2015/11/The-Weeknd-Photo-by-Seher-Sikandar-for-Okayplayer.jpg);">
  <div class="container">
    <h1 class="text-center">Dynastore</h1>
    <p class="text-center">Merci pour votre confiance</p>
    <p class="text-center"> <%= link_to "Abonne-toi", artists_path, class: "btn btn-info" %></p>
  </div>
</div>

