<h1>Your Reservations !</h1>
<ul>
  <% @reservations.each do |reservation|%>
  <li><%= reservation.status %></li>
  <% end %>
</ul>
<%= link_to "back", root_path %>
<%= link_to "Create", reservations_new_path %>

