<h1>Your Reservations !</h1>
<ul>
  <% @reservations.each do |reservation|%>
    <li><%= reservation.status %></li>
    <%= link_to "Cancel", reservation_path(reservation), method: :delete%>
  <% end %>
</ul>
<%= link_to "back", root_path %>



