<div class="container">
  <h1 class="artist-text-center">Mes réservations</h1>
<ul>
  <% @reservations.each do |reservation|%>
    <li><%= reservation.status %></li>
    <%= link_to "Cancel", reservation_path(reservation), method: :delete%>
  <% end %>
</ul>
</div>

<div class="text-center">
<%= link_to "Retour", root_path, class: "btn btn-info" %>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
