.card-product {
  overflow: hidden;
  height: 190px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 1px;
  border: 1px solid #c6ba95;
}

.card-product-infos {
  padding: 20px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 20px;
}

.bouton_reservation {
  display: flex;
  align-items: center;
  padding: 20px;
}

.bouton {
  margin-right: 30px;
}
