.home-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;

}

.home-card {
    width: 200px;
    border-radius: 1px;
    text-align: center;
    padding: 20px;
    border: 2px solid #c6ba95;
    margin-top: 120px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.home-card p {
    margin-top: 30px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.home-card h4 {
    margin-top: 30px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

