// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "home-card";
@import "footer";
@import "parallax";
@import "card";

.text-center {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 2px;
}

.row {
  justify-content: center;
  display: flex;
  background-color: white;
  padding: 30px;
}

.typo {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 10px;
}

.label {
  margin-bottom: 5px;
}


