// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "home-card";
@import "footer";
@import "parallax";
@import "card";
@import "artist-card";
@import "search-bar";

.text-center h1 {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 30px;
}

.artist-text-center {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 30px;
}

.text-center {
  margin-bottom: 20px;
}

.container {
  justify-content: center;
}

.row {
  justify-content: center;
  display: flex;
  background-color: white;
  padding: 20px;
}

.typo {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 10px;
  color: #373738;
  font-weight: 700;
}

.label {
  margin-bottom: 5px;
}




